.about {
    padding: 150px 3% 10px 3% ;
}

.about h1 {
    font-family: var(--font-acorn);
    font-size: 50px;
    margin-bottom: 20px;
}

.about p {
    line-height: 1.7;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.border{
    border-left: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    width: 2.5rem;
    height: 1.25rem;
    margin-left: 3%;
    margin-top: 1.5rem;
}


.skills {
    margin-top: 50px;
    padding: 10px 3%;
}

.skills h1 {
    font-family: var(--font-acorn);
    font-size: 2.5rem;
    margin-bottom: 20px;
    --tw-text-opacity: 1;
    color: rgb(136 136 136 / var(--tw-text-opacity))
}

.skills h3 {
    font-family: var(--font-acorn);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skills .skills_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.skills .skills_container .card {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-black);
    padding: 20px;
    background-color: var(--container-card-grey);
    box-shadow: 0px 0px 60px var(--card-shadow);
}

.skills .skills_container .card i {
    font-size: 1.5rem;
}

.skills .skills_container .card h2 {
    font-family: var(--font-acorn);
    font-size: 18px;
}

.services {
    max-width: 900px;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.services h1 {
    font-family: var(--font-acorn);
    font-size: 50px;
    margin-bottom: 20px;
}

.services .service_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services .service_container .card {
    min-height: 250px;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.13);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.services .service_container .card h2 {
    font-family: var(--font-acorn);
}

.services .service_container .card:nth-child(2) {
    background-image: linear-gradient(180deg, #f3cbab, #feedca);
}

.services .service_container .card:nth-child(1) {
    background: linear-gradient(180deg, #dbb4f3, #efb7d7);
}

.services .service_container .card:nth-child(3) {
    background: linear-gradient(180deg, #67c0e3, #ea76e2);
}

.services .service_container .card:nth-child(4) {
    background: linear-gradient(90deg, #b1e5f9, #f4d2fe);
}

.services .service_container .card:nth-child(5) {
    background: linear-gradient(180deg, #efa971, #e4cafe);
}

